<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div id="main-navbar">
        <a href="/user/login">Login</a>
        <a href="/user/signup">Signup</a>
      </div>
    <style>
        @keyframes slideInLeft {
            0% {
                transform: translateX(-100%);
            }
             100% {
                 transform: translateX(0);
            }
        }   

        h1, h3 {
            animation: 1s ease-in 0s 1 slideInLeft;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <div>
        <h1>Welcome to the Sneakers Den! </h1>
        <h3>Create a collection of the sneakers you have or want to have!</h3>
    </div>
</body>
</html>