<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <main>
        <nav>
            <a href="/">BACK</a>
        </nav>
        <div class="user-container">
            <div>
            <form action="/user/signup" method="POST">
                    <legend>Signup</legend>
                    <label>
                        Username: <input type="text" name="username" required>
                    </label><br>
                    <label>
                        Password: <input type="password" name="password" required>
                    </label><br>
                    <input type="submit" value="Signup">
            </form>
            </div>
        </div>
    </main>
</body>
</html>