html {
    background-color: lightslategray;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
}

#index-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#index-img {
    width: 200px;
    height: 150px;
}

#show-img {
    width: 500px;
    height: 350px;
}
