html {
    background-color: #7697A7;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    color: white;
}

body {
    margin: -1px;
}

nav {
    display: block;
    text-align: left;
    width: 100%;
    background-color: lightslategrey;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;

}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
}

.container button {
    display: flex-end;
}

#index-img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    padding: 5px;
}

#show-img {
    width: 50%;
    height: 25%;
    border: 5px solid;
    border-color: #253237;
    border-radius: 10px;
}

#main-navbar {
    display: block;
    text-align: left;
    width: 100%;
    background-color: #5C6B73;
    padding: 10px;
}

#main-navbar a {
    text-decoration: none;
    padding: 14px 10px;
    text-align: center;
    color: white;
}

.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-container div {
    padding-top: 150px;
    text-align: center;
}

.user-container legend {
    text-align: center;
    font-size: 50px;
}

.navbar {
    display: block;
    text-align: left;
    width: 100%;
    background-color: #354045;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    padding: 14px 10px;
    text-align: center;
    color: white;
}

a:hover {
    color: #9DB4C0;
}