<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs")%>
<body>
    <main>
        <div>
            <% for (shoe of shoes) { %>
                <a href="/shoes/<%= shoe._id %>"><img src="<%= shoe.img %>" alt="<%= shoe.name%>" id="index-img"></a>
            <% } %>
        </div>
    </main>
</body>
</html>