<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs")%>
<body>
    <%- include("../partials/header.ejs")%>
    <style>
        h1 {
            text-align: center;
        }
    </style>
    <h1>New Addition</h1>
    <main>
        <div class="container">
            <form action="/shoes" method="POST">
                Name: <input type="text" name="name" placeholder="Enter Name"><br>
                Price: <input type="text" name="price" placeholder="Enter Price"><br>
                Colorway: <input type="text" name="colorway" placeholder="Enter Colorway"><br>
                Year Released: <input type="text" name="yearReleased" placeholder="Enter Year Released"><br>
                Owned? <input type="checkbox" name="isOwned"><br>
                Retro? <input type="checkbox" name="isRetro"><br>
                Image: <input type="url" name="img" placeholder="Add Image URL"><br>
                <input type="submit" value="Add">
            </form>
        </div>
    </main>
</body>
</html>